<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>このサイトについて</title>
</head>

<header>

    <div class="logo-all">
        {% load static %}
        <a href="./"><img src="{% static 'KEIJI-icon.png' %}"></a>
    </div>

    <nav class="navigation">
        <ul>
            <li><a href="https://twitter.com/z4keru"><img src="{% static 'Twitter-icon.jpeg' %}"></a></li>
            <li><a href="/info">info</a></li>
            <li><a href="./">top</a></li>
        </ul>
    </nav> 

</header>

<body>
    <div class="main">
    <h1>このサイトについて</h1>
    <p>このサイトは作者のプログラムの勉強の一環として作られました。<br>
    初心者脱却すらできていないような拙いコーディングなので至らぬ点だらけだと思いますが、是非使っていただけたら嬉しいです。</p>
    
    <br>

    <h1>ルール</h1>
    <h2>・他人へのリスペクトに欠ける発言はしない <br>
        ・発言の責任は自分にあります <br>
        ・必要以上の過激な発言はしないようにしましょう <br>
        ・下ネタは程々に
    </h2>

    <br>

    <p></p>
    <h1>スマートフォンへの対応について</h1>
    <p>基本的にレスポンシブ対応(デバイスに合わせた変更)は気にかけていませんが、一応スマホでも使えはするのでそれでよろしければどうぞ。</p>
    
    <br>

    <h1>作者への問い合わせ先は？</h1>
    <p>基本的にTwitterでのDMになります。ページ上部のTwitterアイコンか、<a href="https://twitter.com/z4keru">こちら</a>から飛べます。</p>

    <br>

    <h1>掲示板内での会話内容について</h1>
    <p>基本的に無干渉の形を取ります。法的に問題がある場合やサービスとして成り立たなくなるようなことがない限り規制などはしません。</p>

    <br>

    <h1>責任問題について</h1>
    <p>このサービス内での発言および発言が招く事象のおいては投稿者が責任を持つこととします。
        当方は一切の責任を負いかねますので、ご了承ください。
    </p>

    </div>
</body>
</html>